[package]
name = "primitives"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
serde = { workspace = true }
strum = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
