[package]
name = "settings"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
config = { workspace = true }
serde = { workspace = true }
tracing = { workspace = true }
